version: '3.8'
services:
  db:
    image: postgres:18.1-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    volumes: 
      - postgres_data:/var/lib/postgresql
    shm_size: 128mb

volumes:
  postgres_data:
